@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@using RTC_CMS.Common
@using RTC_CMS.Models
@{
    var user = Context.Session.GetObject<Users>("User");
    ViewData["Title"] = "Maintenance";
    ViewData["NavHeader"] = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/libs/moment/moment.min.js"></script>
<script src="~/libs/daterangepicker/daterangepicker.min.js"></script>
<link href="~/libs/daterangepicker/daterangepicker.min.css" rel="stylesheet" />
<link href="~/css/maintenance/maintenance.css" rel="stylesheet" />

<div class="px-1 px-md-2 py-3">
    <div class="container-fluid px-1 px-md-2">
        <h1 class="my-3">Lịch sử bảo dưỡng</h1>
        <div class="row g-3 px-1 px-md-3 mb-1 mb-md-2">
            <div class="col-12 col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <label class="flex-shrink-0 fw-bolder" for="search">Tìm kiếm:</label>
                    <input type="text" class="form-control" id="search" autofocus />
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <label class="flex-shrink-0 fw-bolder" for="status_search">Trạng thái:</label>
                    <select class="form-control flex-grow-1" id="status_search">
                        <option value="0">Tất cả</option>
                        <option value="1">Chưa tiến hành</option>
                        <option value="2">Đang tiến hành</option>
                        <option value="3">Đã hoàn thành</option>
                        <option value="4">Đã hủy bỏ</option>
                    </select>
                    <label class="flex-shrink-0 fw-bolder" for="duration_search">Thời gian:</label>
                    <input type="text" class="form-control flex-grow-1" id="duration_search">
                </div>
            </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-primary w-100">
                    <i class="fa-solid fa-search"></i>
                    Tìm kiếm
                </button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <button class="btn btn-primary" id="task_add"
                        data-bs-toggle="modal" data-bs-target="#modal_add_task">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="card-body">
                <div id="task_table" class="table-bordered border-primary"></div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modal_add_task"
     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bolder" id="staticBackdropLabel">Tạo mới lịch bảo dưỡng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-2">
                        <div class="col-4 col-md-2 d-flex justify-content-start align-items-center">
                            <label class="fw-bold" for="created_name">Người tạo: </label>
                        </div>
                        <div class="col-8 col-md-auto">
                            <input type="text" class="form-control" id="created_name" disabled value="Admin" />
                        </div>
                        <div class="col-4 col-md-2 d-flex justify-content-start align-items-center">
                            <label class="fw-bold" for="assigned_name">Người nhận: </label>
                        </div>
                        <div class="col-8 col-md-auto">
                            <input type="text" class="form-control" id="assigned_name" value="Khánh gà" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 col-md-2">
                            <label class="fw-bold" for="duration_plan">TG Dự kiến: </label>
                        </div>
                        <div class="col-auto">
                            <input id="duration_plan" class="form-control"
                                   type="text" name="daterange"
                                   value="2025/05/22 - 2025/06/15" />
                        </div>
                        <div class="col-4 col-md-2">
                            <label class="fw-bold" for="duration_actual">TG Thực tế: </label>
                        </div>
                        <div class="col-auto">
                            <input id="duration_actual" class="form-control" disabled
                                   type="text" name="daterange"
                                   value="2025/05/27 - 2025/06/12" />
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="fw-bold" for="content">Nội dung: </label>
                        <textarea id="content" class="form-control"></textarea>
                    </div>
                    <div class="row mb-2">
                        <div class="col-2">
                            <label class="fw-bold" for="status">Trạng thái: </label>
                        </div>
                        <div class="col-auto">
                            <select class="form-control flex-grow-1" id="status">
                                <option value="1">Chưa tiến hành</option>
                                <option value="2">Đang tiến hành</option>
                                <option value="3">Đã hoàn thành</option>
                                <option value="4">Đã hủy bỏ</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i> Đóng
                </button>
                <button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i> Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script>var fullname = '@user!.FullName';</script>
<script src="~/js/maintenance/maintenace.js"></script>