<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <link href="~/css/styles.min.css" rel="stylesheet" />
    <link href="~/css/auth/login.css" rel="stylesheet" />
    <script src="~/libs/fontawesome6.3.0/all.js"></script>
    <script src="~/libs/bootstrap-5.3.6/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-auth">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main class="d-flex w-100 justify-content-center position-absolute">
                <div class="container position-absolute">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg">
                                <div class="card-header d-flex justify-content-center">
                                    @* <h3 class="text-center font-weight-light my-4">ĐĂNG NHẬP</h3> *@
                                    <img src="~/imgs/rtc-logo.png"/>
                                </div>
                                <div class="card-body px-lg-5 px-md-3 px-1">
                                    <form method="post" action="/login" autocomplete="on">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="username" type="text" name="username"
                                                placeholder="Tên đăng nhập" autofocus autocomplete="username" required/>
                                            <label for="username">Tên đăng nhập</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="password" type="password" name="password"
                                            placeholder="Mật khẩu" autocomplete="current-password" required/>
                                            <label for="password">Mật khẩu</label>
                                        </div>
                                            <button type="submit" class="btn btn-login mt-3">Đăng nhập</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
