@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container px-4">
    <h1 class="mt-4 mb-4">Khu vực</h1>
    <div class="card mb-4">
        <div class="card-header">
            <button class="btn btn-primary" id="area_add" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="card-body">
            <div id="areas_table"></div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Chi tiết khu vực</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="form-floating">
                        <input type="text" class="form-control" id="area_areacode" placeholder="Mã khu vực" value="">
                        <label for="area_areacode">Mã khu vực</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="area_areaname" placeholder="Tên khu vực" value="">
                        <label for="area_areaname">Tên khu vực</label>

                    </div>
                    <div class="form-floating">
                        <select class="form-select" aria-label="Default select example" name="state" id="area_parent">
                        </select>
                        <label for="area_parent">Khu vực cha</label>
                    </div>
               
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/areas/areas.js"></script>