@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Dòng băng tải 1 -->
    <div class="row align-items-center" style="height: 23vh;">
        <div class="col-9" style="height: 100%;">
            <div id="lineChart1" style="height: 100%; width: 100%;"></div>
        </div>
        <div class="col-3" style="height: 100%;">
            <div id="gaugeChart1" style="height: 100%; width: 100%;"></div>
        </div>
    </div>

    <!-- Dòng băng tải 2 -->
    <div class="row align-items-center" style="height: 23vh;">
        <div class="col-9" style="height: 100%;">
            <div id="lineChart2" style="height: 100%; width: 100%;"></div>
        </div>
        <div class="col-3" style="height: 100%;">
            <div id="gaugeChart2" style="height: 100%; width: 100%;"></div>
        </div>
    </div>

    <!-- Dòng băng tải 3 -->
    <div class="row align-items-center" style="height: 23vh;">
        <div class="col-9" style="height: 100%;">
            <div id="lineChart3" style="height: 100%; width: 100%;"></div>
        </div>
        <div class="col-3" style="height: 100%;">
            <div id="gaugeChart3" style="height: 100%; width: 100%;"></div>
        </div>
    </div>

    <!-- Dòng băng tải 4 -->
    <div class="row align-items-center" style="height: 23vh;">
        <div class="col-9" style="height: 100%;">
            <div id="lineChart4" style="height: 100%; width: 100%;"></div>
        </div>
        <div class="col-3" style="height: 100%;">
            <div id="gaugeChart4" style="height: 100%; width: 100%;"></div>
        </div>
    </div>
</div>



<script src="~/js/speed/speed.js"></script>